{% extends 'base.html' %}

{% block page %}
<div class="container mt-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 mb-5">Your Bookings</h1>
            {% for flt in tickets %}
            <div class="card w-100 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h5 class="card-title float-left ml-2">{{flt.flight.airline}} - {{flt.flight.code}}</h5></div>
                        <div class="col"><h6 class="card-text mr-4">{{flt.time}}</h6></div>
                    </div>
                    <div class="row mx-auto mt-3">
                        <p class="card-text mx-auto">{{flt.flight.fromdest}} -> {{flt.flight.todest}}</p> 
                        <p class="card-text mx-auto">Duration - {{flt.flight.duration}}</p>
                    </div>
                    {% if flt.pas1_name %}
                    <div class="row mx-auto mt-3">
                        <p class="card-text mx-auto">{{flt.pas1_name}}, {{flt.pas1_age}}, {{flt.pas1_gen}}</p> 
                    </div>
                    {% endif %}
                    {% if flt.pas2_name %}
                    <div class="row mx-auto mt-3">
                        <p class="card-text mx-auto">{{flt.pas2_name}}, {{flt.pas2_age}}, {{flt.pas2_gen}}</p> 
                    </div>
                    {% endif %}
                    {% if flt.pas3_name %}
                    <div class="row mx-auto mt-3">
                        <p class="card-text mx-auto">{{flt.pas3_name}}, {{flt.pas3_age}}, {{flt.pas3_gen}}</p> 
                    </div>
                    {% endif %}
                    {% if flt.pas4_name %}
                    <div class="row mx-auto mt-3">
                        <p class="card-text mx-auto">{{flt.pas4_name}}, {{flt.pas4_age}}, {{flt.pas4_gen}}</p> 
                    </div>
                    {% endif %}
                    {% if flt.pas5_name %}
                    <div class="row mx-auto mt-3">
                        <p class="card-text mx-auto">{{flt.pas5_name}}, {{flt.pas5_age}}, {{flt.pas5_gen}}</p> 
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
{% endblock %}