{% extends 'base.html' %}

{% block page %}
<div class="front-container">
    <a class="flight_side" href="/store/flights" style="text-decoration: none;">
      <div class="flight_text">
        Catch 
      </div>
      <div class="flight_text">
        Flights
      </div>
      <div class="flight_text">
        Not 
      </div>
      <div class="flight_text">
        Feelings
      </div>
    </a>
    <a class="hotel_side" href="/store/hotels" style="text-decoration: none;">
      <div class="hotel_text">
        Don't
      </div>
      <div class="hotel_text">
        Trivago !
      </div>
    </a>
</div>
{% endblock %}