{% extends 'base.html' %}
{% block page %}

<div class="container mt-4 mx-auto"> 
    <div class="jumbotron jumbotron-fluid mx-auto" style="border-radius: 1.5rem; background-color: rgba(255, 255, 255, 0.253); color: rgba(255, 255, 255, 0.795); width: 50rem;">
        <div class="container">
            <h1 class="display-3 mb-5">Edit Profile</h1>
            {% if user.is_authenticated %}
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <form action="/store/profile/" method="POST">
                        {% csrf_token %}
                        <p>{{userupdate}}</p>
                        <p>{{customerupdate}}</p>
                        <input type="submit" value="Update" class="btn btn-outline-primary float-right">
                    </form>
                </div>
            </div>
            {% else %}
            <h3>You are not logged in.</h3>
            <a class="btn btn-outline-success float-right mr-3" href="/accounts/login">Login here</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}