{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block page %}
<div class="container mt-4 mx-auto"> 
  <div class="jumbotron jumbotron-fluid mx-auto" style="border-radius: 1.5rem; background-color: rgba(255, 255, 255, 0.253); color: rgba(255, 255, 255, 0.795); width: 50rem;">
      <div class="container">
        <h1>{% trans "Sign Out" %}</h1>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}?next=/store">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="btn btn-outline-primary float-right">{% trans 'Yes, Sign Out' %}</button>
          <button type="button" class="btn btn-outline-primary float-left">
            <a href = "/store/">No, Back to Home</a>
          </button>
        </form>
      </div>
  </div>
</div>




{% endblock %}
