{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block page %}
<div class="container mt-4 mx-auto"> 
  <div class="jumbotron jumbotron-fluid mx-auto" style="border-radius: 1.5rem; background-color: rgba(255, 255, 255, 0.253); color: rgba(255, 255, 255, 0.795); width: 50rem;">
      <div class="container">
          <h1 class="display-3 mb-5" style="letter-spacing: 5px;">{% trans "Sign Up" %}</h1>
          <div class="row">
            <div class="col-lg-10 mx-auto">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              <!--{{ form.as_p}}--> 
              <p>{{ form.username }}</p>
              <p>{{ form.email }}</p>
              <p>{{ form.password1 }}</p>
              <p>{{ form.password2 }}</p>
              {{ form.errors }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <!--<button type="submit" class="btn btn-primary mx-auto">{% trans "Sign Up" %} &raquo;</button>-->
              <button type="submit" class="btn btn-primary mx-auto">{% trans "Sign Up" %}</button>
              <p>
                
              </p>
              <p>{% blocktrans %}Already have an account? <a href="{{ login_url }}" class="btn btn-primary mx-auto">Login</a>{% endblocktrans %}</p>
            </form>
            </div>
          </div>
      </div>
    </div>
  </div>


{% endblock %}
